USE [master]
GO
/****** 对象:  Database [WarehouseManageSystemDB]    脚本日期: 2026/6/4 16:58:13 ******/
CREATE DATABASE [WarehouseManageSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseManageSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\WarehouseManageSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WarehouseManageSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\WarehouseManageSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseManageSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseManageSystemDB]
GO
/****** 对象:  Table [dbo].[Logs]    脚本日期: 2026/6/4 16:58:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[OperationType] [nvarchar](10) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[OperationTime] [datetime] NOT NULL,
	[Remark] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[MaterialDB]    脚本日期: 2026/6/4 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialDB](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialCode] [nvarchar](500) NOT NULL,
	[MaterialName] [nvarchar](500) NOT NULL,
	[Specification] [nvarchar](500) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[CurrentStock] [decimal](18, 2) NULL,
	[MinStock] [decimal](18, 2) NULL,
	[MaxStock] [decimal](18, 2) NULL,
	[MaterialDescription] [varchar](500) NULL,
	[categoryId] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MaterialCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** 对象:  Table [dbo].[userDB]    脚本日期: 2026/6/4 16:58:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userDB](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[UserPassWord] [varchar](100) NOT NULL,
	[CreateTime] [datetime] NULL,
	[isAdmin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [yueshu] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [OperationTime]
GO
ALTER TABLE [dbo].[userDB] ADD  CONSTRAINT [CreatTime]  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLogs_Materials] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[MaterialDB] ([MaterialID])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_InventoryLogs_Materials]
GO
ALTER TABLE [dbo].[Logs]  WITH CHECK ADD  CONSTRAINT [FK_InventoryLogs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[userDB] ([UserId])
GO
ALTER TABLE [dbo].[Logs] CHECK CONSTRAINT [FK_InventoryLogs_Users]
GO
USE [master]
GO
